* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(35,35,35);
}

:root {
    --font: sans-serif;
}

.navbar {
    width: 75vw;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding-top: 1px;
}

.navbar span img {
    padding-right: 15px;
    width: 150px;
}

.navbar button {
    color: white;
    text-decoration: none;
    border: none;
    padding: 8px 17px;
    border-radius: 5px;
    background-color: rgba(229, 9, 20, 0.938);
    font-size: 14px;
}

.entry-div {
    position: relative;
    overflow: clip;
    top: -67px;
}

.bg-image {
    background-image: url("assets/img/background.jpg");
    height: 102vh;
    width: max(1200px, 100vw);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-position: bottom;
    position: relative;
    top: -25px;
    transform: scale(1.22);
    margin-bottom: 10px;
}

.bg-box1 {
    height: 102vh;
    width: max(1200px, 100vw);
    background-color: black;
    opacity: 0.65;
    position: absolute;
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px 0;
    position: absolute;
    top: 65px;
    height: 85vh;
    width: 100vw;
}

.info p {
    color: white;
    font-family: var(--font);
    text-align: center;
}

.info p:nth-child(1) {
    font-weight: 1000;
    font-size: 48px;
}

.info p:nth-child(2) {
    font-size: 25px;
}

.info p:nth-child(3) {
    font-size: 22px;
}

.website-entry {
    margin-top: -11px;
    display: flex;
    align-items: center;
}

#email {
    border: 1px solid rgba(255, 255, 255, 0.527);
    background-color: rgba(14, 13, 13, 0.651);
    font-size: 17px;
    border-radius: 3px;
    min-width: 16px;
    min-height: 16px;
    padding: 17px 100px 17px 13px;
    margin-right: 5px;
}

#email::placeholder {
    color: rgba(255, 255, 255, 0.685);

}


.entry-btn{
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 3px;
    font-size: 25px;
    color: white;
    font-weight: 300;
    font-family: sens-sarif;
    padding: 14px 22px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 0 5px;
}